<div class="index-page">

    <div class="header">
        <p class="title">News Feed</p>
        <button *ngFor="let c of categories" [class.active]="clicked === c.name"
            (click)="changeCategory(c.name)">{{c.name}}</button>
    </div>

    <p *ngIf="loading" class="loader">
        <mat-spinner diameter="50"></mat-spinner>
    </p>

    <div *ngIf="!loading" class="articles-container">
        <div *ngFor="let article of items" class="article">
            <app-article [article]="article"></app-article>
        </div>
        <p (click)="showMoreArticles()" class="more">Show More</p>
    </div>

</div>